In [1]:
import pandas as pd

In [2]:
csv_file = "Border_Crossing_Entry_Data.csv"
Border_Crossing_df = pd.read_csv(csv_file)
Border_Crossing_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,3/1/19,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,3/1/19,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,3/1/19,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,3/1/19,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,3/1/19,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [ ]:
import datetime
sampleDate = datetime.date(17, 6, 1)